{% extends "base.html" %}
{% block header %}
	<!--<script src="functions.js" type="text/javascript"></script>-->
{% endblock %}
{% block body %}
	{% if error %}
		<h3>{{error}}</h3>
	{% endif %}
	<a href={{url_for('logout')}}>Log out</a>
	<form name="theForm" method='POST' action=''>
		<input type="text" id="newChat" name="title" value ="Add a new Chat Room"/><br />
		<input type="submit" id="submit" value="Submit"/>
	</form>
	<h3>Your Chatrooms</h3>
	{% for i in user_chatrooms %}
		<div class='chatrooms'>
			<a href={{url_for('chat_room', chatroom= i.title)}}>{{i.title}}</a>: <a href={{url_for('delete_chatroom', ID=i.chat_id)}}>Delete This Chatroom</a>
		</div>
	{% else %}
		<br />
		You have no chatrooms
		<br />
	{% endfor %}
	<h3>Other Chatrooms</h3>
		{% for j in chatrooms %}
			<div class='chatrooms'>
				<a href={{url_for('chat_room', chatroom= j.title)}}>{{j.title}}</a>
			</div>
		{% else %}
			<br />
			There are no available chatrooms
			<br />
		{% endfor %}
{% endblock %}