<html>
	<!-- Jordan Carr, Assignment 5 main page -->
	<head>
		<title>Jordan's Budge Manager</title>
		<div class="header">
			<h1>Jordan's Budget Manager</h1>
		</div>
		<script type="text/javascript" src="{{url_for('static', filename='functions.js')}}"></script>
		<link href={{url_for('static', filename = 'style.css')}} type='text/css' rel='stylesheet'/>
	</head>
	<body>
		<!-- Add a new category -->
		<h2>Your Current Budget Sheet</h2>
		<h3>Add A New Category To Your Budget</h3>
		Category Name<br />
		<input type="text" id="category"/><br />
		Budget Amount (Exclude '$')<br />
		<input type="text" id="amount" /><br />
		<input type="button" id="newCat" value="Submit"/>
		<!-- All subsequent budget information goes here and will be posted via requests -->
		<h3>Add a New Purchase<h3>
		Purchase Name<br />
		<input type="text" id="purchase"/><br />
		Amount Spent<br />
		<input type="text" id="spent"/><br />
		Date Spent<br />
		<input type="date" id="date"/><br />
		Category(Allowed to leave blank)</br>
		<select id="select"/></select><br />
		<input type="button" id="newPurch" value="Submit"/>
		<ul id ="list">
		</ul>
	</body>
</html>